$darkBlue: #2A3950;
$semiDarkBlue: #0F6BAC;
$blue: #258BD6;
$semiLightBlue: #85B7FE;
$lightBlue: #C6CEFF;

.splashCont {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: $darkBlue;

    img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        object-position: center;
    }

}
